name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'

    - name: Install Protoc
      uses: arduino/setup-protoc@v3

    - name: Install Protoc Gen Go
      run: |
        go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
        go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest
        export PATH=$PATH:$(go env GOPATH)/bin

    - name: Generate Proto
      run: ./scripts/generate_proto.sh

    - name: Build
      run: go build -v ./cmd/server

    - name: Test
      run: go test -v ./...
